<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.mczhengyi.jvs.mapper.EpMapper">
    <select id="queryEpByVid" resultType="top.mczhengyi.jvs.bean.Ep">
        SELECT `eid`, `name`, `link`
        FROM t_ep
        WHERE `vid`=#{vid}
    </select>
</mapper>